body{
    margin: 0;
    padding: 0;
    background-color: rgb(39, 32, 32);
    color: white;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    z-index: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
header div{
    float: left;
    justify-content: space-between;
    align-items: center;
   
}
header .logo{
    margin-left:50px ;
    padding: 0px;
    margin-top: 0;
    position: fixed;
   
}
header .logo a{
    text-decoration: none;
}
  
   #nav {
    background-color: #000;
    color: #fff;
    padding: 20px;
    width: 80px;
    display: flex;
    margin-left: 700px;
    border-radius: 3px;
    font-size: 18px;
    transition: width 0.6s linear;
    overflow-x: hidden;
  }

  #nav.active {
    width: 450px;
  }
  
  #nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;
  }
  
  #nav.active ul {
    width: 100%;
  }
  
  #nav ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
  }
  
  #nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg);
  }
  
  #nav ul a {
    position: relative;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  #nav ul a:hover{
    color: #7f97ff;
    transition: all 0.5s ease-out;
  }
  header .logo a:hover{
    color: #7f97ff;
    transition: all 0.5s ease-out;
  }
  
/*Header end/*/
#section1{
    display: flex;
    float: left;
    margin-top: 20px;
    justify-content: space-between;
}

#section1 img{
    width: 420px;
    height: 600px;
    padding: 20px ;
    margin: 50px;
}
#section1 .img2 h2{
    padding-top: 100px;
    font-size: 32px;
    margin-left: 200px;
}
#section1 .img2 h3{
    font-size: 46px;
    margin-left: 200px;
}
/* text effect */
.main{
    display: inline-flex;

}
 .main .child{
    color: #fff;
    font-size: 48px;
    margin-left: 200px;
    margin-top: 12px;
    font-weight: 400px;
}
.main .text{
    margin-left: 20px;
    margin-top: 0;
    height: 90px;
    line-height: 90px;
    overflow: hidden;

}
.text li{
    color: #FC6D6D;
    list-style: none;
    font-size: 38px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
}
@keyframes first-line{
    100%{
       top: -360px;
    }
}

.text li span{
    position: relative;
}
.text li span::after{
    content: "";
    position: absolute;
    margin-top: 20px;
    height: 150%;
    width: 100%;
    left: 0;
    background-color: rgb(39, 32, 32);
    border-left: 1px solid #FC6D6D;
    animation: typing 3.2s steps(10) infinite;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -50px 0 50px;
    }
}
/* text effect end*/
#section1 .img2 p{
    font-size: 22px;
    margin-left: 200px;
}
#section1 .img2 h2:hover{
    color: #7f97ff;
    transition: all 0.4s ease-in;
}
#section1 .img2 h3:hover{
    color:#7f97ff;
    transition: all 0.4s ease-in;
}
#section1 .img2 h4:hover{
    color:#7f97ff;
    transition: all 0.4s ease-in;

}
 /* section1 end */

#section2{
    display: flex;
    float: left;
    margin-top: 40px;
    justify-content: space-between;
}
#section2 .list{
    margin-left: 50px;
}
#section2 .list h2{
    margin-left: 35px;
    font-size: 36px;
}
#section2 img{
    width: 410px;
    height: 480px;
    margin-left: 220px;
    margin-top: 25px;
}
#section2 .list h3:hover{
    color: #7f97ff;
    transition: all 0.4s ease-in;
}
#section2 .list h2:hover{
    color: #7f97ff;
    transition: all 0.4s ease-in;
}
/* section2 end */

#section3 .services{
    display: flex;
    float: left;
    margin-top: 20px;
    margin-left: 60px;
}
#section3 #content{
    display: flex;
    float: left;
    padding: 5px;
    margin: 5px;
}
#section3 #content div{
    width: 300px;
    height: 260px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    margin-top: 60px;
}
#section3 #content div a{
    text-decoration: none;
}
#section3 #content div h2{
    font-size: 30px;
}
#section3 #content div i{
    font-size: 25px;
}
#section3 h1{
    font-size: 36px;
    margin-top: 60px;
}
#section3 #content div:hover{
    background-color: #7f97ff;
    color: white;
    transition: all 0.5s ease-in;
}
#section3 h1:hover{
    color: #7f97ff;
    transition: all 0.4s ease-in;
}
/* section3 end */

#section4 .protfolio div{
    display: flex;
    float: left;
    margin-top: 80px;
    padding: 10px;
    margin: 10px;
    margin-left: 64px;
}
#section4 .protfolio h3{
    font-size: 50px;
    margin: 50px;
    margin-left: 500px;
    margin-top: 50px;
}
#section4 .protfolio div:hover{
    color: #7f97ff;
    opacity: 0.5;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    border: 2px solid skyblue;
    border-radius: 15px;
}
#section4 .protfolio h3:hover{
    color: #7f97ff;
    transition: all 0.4s ease-in;
}
/* section4 end */
#section5 .cnt .contact{
    margin-left: 50px;
    margin: 5px;
}
#section5 .cnt .contact p{
    margin-top: 10px;
    margin-left: 200px;
}
#section5 .cnt .contact #h1{
    text-align: center;
}

#section5 .contact h1{
    display: inline-block;
    font-size: 42px;
    margin-top: 120px;

}
#section5 .contact i{
    font-size: 32px;
}
#section5 .cnt .contact2{
    margin-left: 50%;
}
#section5 .cnt .contact2 #h1{
    margin-top: 10px;
}
#section5 .cnt .text{
    font-size: 20px;
    color: rgb(241, 186, 83);
    margin-right: 100px;
}
#section5 .contact i:hover{
    color: #7f97ff;
    transition: all 0.4s ease-in-out;
}
#section5 .cnt input{
   font-size: 22px;
   width: 500px;
}
#section5 .cnt textarea{
    font-size: 22px;
    width: 500px;
}
#section5 .cnt button{
    background-color: skyblue;
    border: 2px solid slateblue;
    font-size: 24px;
}
#section5 .cnt h1:hover{
    color: #7f97ff;
    transition: all 0.4s ease-in-out;
}
#section5 .cnt button:hover{
    background-color: #7f97ff;
    color: white;
    transition: all 0.4s ease-in-out;
    border-radius: 15px;
}

/* ressponsive try */
@media only screen and (max-width: 600px){
    .logo{
        font-size: 40%;
        margin-left: 10px;
    }
    #nav{
        margin-left: 120px;
        font-size: 12px;
        padding-top: 10px;

    }
    #section1 img{
        width: 200px;
        height: 250px;
        margin-left: 20px;
    }
    #section1 .img2 h2{
        font-size: 12px;
        margin-left: 20px;
    }
    #section1 .img2 h3{
        font-size: 16px;
        margin-left: 20px;
    }
    #section1 .main{
        display: none;
    }
    #section1 .img2 p{
        font-size: 10px;
        margin-left: 20px;
    }

    #section2 .list h2{
        font-size: 18px;
    }
    #section2 .list{
        margin-left: 20px;
    }
    #section2 .list ul li{
        font-size: 10px;
        width: 120px;
    }
    #section2 img{
        width: 190px;
        height: 270px;
        margin-left: 90px;
    }
    
    #section3 .services{
        display: inherit;
        margin-left: 5px;
    }
    #section3 h1{
        font-size: 18px;
        margin-left: 45%;
    }
    #section3 #content div{
        width: 120px;
        height: 200px;
        margin-left: 5px;
    }
    #section3 #content div h2{
        font-size: 14px;
    }
    #section3 #content div i,p{
        font-size: 10px;
    }
    #section4 .protfolio div{
        display: inherit;
        float: inherit;
    }

    #section4 .protfolio h3{
        font-size: 20px;
        margin-left: 50%;
    }
    
    #section4 .protfolio iframe{
        width: 350px;
        height: 220px;
    }
    
    #section5 .contact h1{
        display: block;
        font-size: 18px;
        text-align: center;
    }
    #section5 .contact i{
        font-size: 16px;
    }
    #section5 .cnt .contact p{
        margin-top: 20px;
        margin-left: 20px;
    }

    #section5 .cnt .contact2{
        margin-left: 20px;
    }
    #section5 .cnt{
        display: inline-block;
    }

    #section5 .cnt input,textarea,button{
        font-size: 12px;
        width: fit-content;
    }

 
 

}